/* .about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
} */

@tailwind base;

@layer base {
	.about__me {
		@apply grid place-items-center aspect-square rounded-3xl lg:col-span-4 flex items-center w-full col-span-1;
	}
	.about__me-image {
		@apply rounded-[30px] overflow-hidden grayscale bg-[#212121];
	}
	.about__content {
		@apply col-span-1 text-center lg:text-justify lg:col-span-8;
	}
	.about__card {
		@apply flex flex-col items-center p-8 text-center transition duration-300 bg-opacity-20 backdrop-blur-lg bg-white border rounded-2xl hover:cursor-default hover:bg-transparent;
	}
	.about__icon {
		@apply text-[#C7493A] text-2xl mb-4;
	}
	article > h5 {
		@apply text-base;
	}
	article > small {
		@apply text-xs text-[#fff];
	}
}

@tailwind components;
@tailwind utilities;

.about__me-image {
	box-shadow:
		15px 15px 30px rgb(25, 25, 25),
		-15px -15px 30px rgb(60, 60, 60);
}
