@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;

@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply bg-[#212121] text-[#fff] leading-7 font-['Popins'];
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-medium;
    }
    h1 {
        @apply text-[40px];
    }
    section {
        @apply mt-32 pt-28 flex flex-col items-center w-full p-10 min-h-screen lg:px-20;
    }
    section > h2,
    section > h5 {
        @apply text-center text-white;
    }
    section > h2 {
        @apply text-[#c7493a] text-3xl font-bold pb-10;
    }
    a {
        @apply transition-all duration-[400ms] ease-in-out text-[#c7493a] hover:text-white;
    }

    img {
        @apply block w-full object-cover;
    }
    ::-webkit-scrollbar {
        @apply hidden;
    }

    .btn {
        @apply text-[#C7493A] drop-shadow-lg bg-white bg-opacity-40 backdrop-blur-md p-2 rounded-md text-sm md:text-base cursor-pointer border border-[#C7493A] transition-all duration-[400ms] ease-in-out hover:bg-white hover:text-[#1A1A1D] hover:border-black;
    }

    .btn-primary {
        @apply bg-[#C7493A] p-2 text-white hover:border-none hover:ring-offset-2 rounded-md text-sm md:text-base hover:ring-[#C7493A] hover:ring;
    }
}

@tailwind components;
@tailwind utilities;

:root {
    --color-bg: #344d67;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-primary: #6eccaf;

    --transition: all 400ms ease;
}

/* ::-webkit-scrollbar {
    display: none;
} */

body {
    font-family: 'Poppins', sans-serif;
}
/* 
h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
} 
/* 
h1 {
    font-size: 2.5rem;
} 
/* 
section {
    margin-top: 8rem;
} 
/* 
a {
    transition: var(--transition);
} 
/* 
img {
    display: block;
} */
